@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #0A0A0A;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #A3E635;
  color: #0A0A0A;
}
